{% extends 'base.html.twig' %}
{% block title %} ajouter bien {% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="container mt-4 ">
        <h1>Créer un nouveau bien</h1>

        {#si notre formulaire porte le nom "form" c'est inutile de le passer dans l'inclusion.
        {{  include('admin/property/_form.html.twig', {form: form, button: 'Ajouter un bien'}) }}#}

        {{  include('admin/property/_form.html.twig', {button: 'Ajouter un bien'}) }}

    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}